@model IEnumerable<NetPress.Models.CustomWithRole>

@{
    ViewBag.Title = "Index";
}

<h2>列表</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerRole.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerRole.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomWithRoleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomWithRoleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomWithRoleId })
        </td>
    </tr>
}

</table>
