@model IEnumerable<NetPress.Models.ComboItem>

@{
    ViewBag.Title = "Index";
}

<h2>列表</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Combo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purchase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Combo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purchase)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComboItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComboItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComboItemId })
        </td>
    </tr>
}

</table>
