@model NetPress.Ui.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "快速注册";
    string provider = ViewBag.LoginProvider;
    switch (provider)
    {
        case "QQConnect":
            provider = "QQ账号";
            break;
        default:
            break;
    }
}
<div class="container">

    <h2>@ViewBag.Title</h2>
    <h3>关联你的本站帐户</h3>

    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <h4>关联</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="text-info">
            你已成功使用 <strong>@provider</strong> 进行登录。
            请在下面输入您的Email，然后单击“快速注册”按钮快速注册并绑定账号。
        </p>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="快速注册" />
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
