@model NetPress.Models.OrderDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderDetailsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
