@model NetPress.Models.CartToDestroy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CartToDestroy</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PackType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PackType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseVolume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseVolume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cause)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cause)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CartToDestroyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
