@model NetPress.Models.SysUserInRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SysUserInRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SysRole.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysRole.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SysUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysUser.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserInRoleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
